#root {
  /* max-width: 1280px; */
  /* padding: 0%; */
  /* margin: 0; */
  height: 99vh;
  margin: 0;
  border: 1px solid red;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}